modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://ftuwtquthxvylfuqahgs.supabase.co"
VITE_SUPABASE_ANON_KEY = "sb_publishable_qe6Auf6KzCAX3dDlwm41iA_amnfNy7u"
VITE_OPENROUTER_API_KEY = "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"
